@tailwind base;
@tailwind components;
@tailwind utilities;

textarea, textarea:focus, input, input:focus {
  border: none;
  overflow: auto;
  outline: none;
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}

* {
  box-sizing: border-box;
}